[submodule "home/.emacs.d/modes/yasnippet"]
	path = home/.emacs.d/modes/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "home/.emacs.d/modes/magit"]
	path = home/.emacs.d/modes/magit
	url = https://github.com/magit/magit.git
[submodule "home/.emacs.d/modes/markdown-mode"]
	path = home/.emacs.d/modes/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "home/.emacs.d/modes/pylookup"]
	path = home/.emacs.d/modes/pylookup
	url = https://github.com/tsgates/pylookup.git
[submodule "home/.emacs.d/modes/flymake-cursor"]
	path = home/.emacs.d/modes/flymake-cursor
	url = https://github.com/illusori/emacs-flymake-cursor.git
[submodule "home/.emacs.d/modes/haskell-mode"]
	path = home/.emacs.d/modes/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule "home/.emacs.d/modes/ido-ubiquitous"]
	path = home/.emacs.d/modes/ido-ubiquitous
	url = https://github.com/technomancy/ido-ubiquitous.git
[submodule "home/.emacs.d/modes/smex"]
	path = home/.emacs.d/modes/smex
	url = https://github.com/nonsequitur/smex.git
[submodule "home/.emacs.d/modes/fill-column-indicator"]
	path = home/.emacs.d/modes/fill-column-indicator
	url = https://github.com/alpaker/Fill-Column-Indicator.git
[submodule "home/.emacs.d/modes/php-mode"]
	path = home/.emacs.d/modes/php-mode
	url = https://github.com/ejmr/php-mode.git
[submodule "home/.emacs.d/modes/ace-jump-mode"]
	path = home/.emacs.d/modes/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "home/.emacs.d/modes/popup-el"]
	path = home/.emacs.d/modes/popup-el
	url = https://github.com/auto-complete/popup-el
[submodule "home/.emacs.d/modes/auto-complete"]
	path = home/.emacs.d/modes/auto-complete
	url = https://github.com/auto-complete/auto-complete
[submodule "home/.emacs.d/modes/clojure-mode"]
	path = home/.emacs.d/modes/clojure-mode
	url = git://github.com/technomancy/clojure-mode.git
[submodule "home/.emacs.d/modes/ebib"]
	path = home/.emacs.d/modes/ebib
	url = git://github.com/joostkremers/ebib.git
[submodule "home/.emacs.d/modes/erc-nick-notify"]
	path = home/.emacs.d/modes/erc-nick-notify
	url = git://github.com/emacsmirror/erc-nick-notify.git
[submodule "home/.emacs.d/modes/yaml-mode"]
	path = home/.emacs.d/modes/yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
[submodule "home/.emacs.d/modes/ess"]
	path = home/.emacs.d/modes/ess
	url = git://github.com/emacs-ess/ESS.git
[submodule "home/.emacs.d/modes/multiple-cursors"]
	path = home/.emacs.d/modes/multiple-cursors
	url = git://github.com/magnars/multiple-cursors.el.git
[submodule "home/.emacs.d/modes/jump-char"]
	path = home/.emacs.d/modes/jump-char
	url = git://github.com/lewang/jump-char.git
[submodule "home/.emacs.d/modes/evil"]
	path = home/.emacs.d/modes/evil
	url = git://gitorious.org/evil/evil.git
[submodule "home/.vim/bundle/vundle"]
	path = home/.vim/bundle/vundle
	url = git://github.com/gmarik/vundle.git
