[submodule "home/.emacs.d/yasnippet"]
	path = home/.emacs.d/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "home/.emacs.d/auto-complete"]
	path = home/.emacs.d/auto-complete
	url = https://github.com/m2ym/auto-complete.git
[submodule "home/.emacs.d/magit"]
	path = home/.emacs.d/magit
	url = https://github.com/magit/magit.git
[submodule "markdown-mode"]
	path = markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "home/.emacs.d/pylookup"]
	path = home/.emacs.d/pylookup
	url = https://github.com/tsgates/pylookup.git
[submodule "home/.emacs.d/flymake-cursor"]
	path = home/.emacs.d/flymake-cursor
	url = https://github.com/illusori/emacs-flymake-cursor.git
[submodule "home/.emacs.d/haskell-mode"]
	path = home/.emacs.d/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule "home/.emacs.d/ido-ubiquitous"]
	path = home/.emacs.d/ido-ubiquitous
	url = https://github.com/technomancy/ido-ubiquitous.git
[submodule "home/.emacs.d/smex"]
	path = home/.emacs.d/smex
	url = https://github.com/nonsequitur/smex.git
