[core]
	editor = nano
[user]
	name = Anton Beloglazov
	email = anton.beloglazov@gmail.com
[color]
	ui = true
[alias]
	st = status
	co = checkout
	ci = commit -m
	b = branch
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset' --abbrev-commit
	ca = commit -a -m
	s = status
	d = diff --stat
	p = push -u
