body > div > div > div {
    background: #0c0d0e;
}

div.J-KU-Jg.J-KU-Jg-Zc.aj5 {
    display: none;
}

.PF.PE {
    background: transparent;
    border: none;
}

div.asT-asx.J-J5-Ji {
    display: none;
}

.ain {
    border-left: 2px solid #7f8f9f;
}

span.CJ {
    color: #7f8f9f;
}

span.HHshnc {
    color: #7f8f9f;
}

span.vG {
    color: #7f8f9f;
}

span.vG a {
    color: #7f8f9f;
}

input.dI.dG {
    background-color: #0c0d0e;
    color: #7f8f9f;
    border: 1px solid #0c0d0e;
    width: 48px;
}

div.akh {
    color: #7f8f9f;
}

a.J-Ke.n0 {
    color: #7f8f9f;
}

.T-I-KE {
    background-image: none;
    background-color: #181A1C;
    color: #7f8f9f;
    border-color: #181A1C;
}

.T-I-KE:hover {
    background-image: none;
    background-color: #212426;
    color: #7f8f9f;
    border-color: #181A1C;
    cursor: pointer;
}

div.G-asx.T-I-J3.J-J5-Ji {
    display: none;
}

span.Dj {
    color: #7f8f9f;
}

div.at, div.au, div.av {
    background-color: #2b1f2b;
    border: none;
}

span.adl {
    color: #7f8f9f;
}
